torch
torchvision
torchaudio
numpy==1.23.1
matplotlib<3.10
tqdm
peft
termcolor
mitsuba==3.5.2
smplpytorch
transformers==4.49
scipy
ftfy
accelerate
transforms3d
smplx
trimesh
h5py
spacy
chumpy
ipykernel
git+https://github.com/openai/CLIP.git
git+https://github.com/huggingface/diffusers.git
